*{font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;}

    body{
        background-color: #9ad9c2;
    }
main{
    background-color: winter;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px #ed8fe5;